<script>
$(function() {
    Morris.Bar({
        element: 'morris-bar-chart',
        data: <?php echo $this->dataGraph;?>,
        xkey: 'day',
        ykeys: <?= $this->labelGraph ?>,
        labels: <?= $this->labelGraph ?>,
        hideHover: 'auto',
        resize: true
    });

});
</script>
<div class="filter">
    <?php echo $this->form; ?>
    <div class="clear"></div>
</div>

<div class="hr"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o">
            <h3><?php echo $this->title; ?></h3></i>
            <h3><?php echo $this->titleGraph;?></h3></i>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <?php echo $this->simpleTable()->setHeaders($this->headers)
                ->setShowCheckbox(false)
                ->setLineLink(false)
                ->setData($this->data); ?>
    </div>
</div>
<script>
    $(document).ready(function(){
       $("#course").change(function(){
           $("#period").load("default/managerial/list-semesters/course/"
                    + $(this).val());
       });
       
        $("#period").change(function(){
            $("#discipline").load("default/managerial/list-disciplines/period/"
                    + $(this).val() + '/course/' + $('#course').val());
       }); 
       
       $("[name^=data]").datepicker();
    });
</script>

