<div class="row">
    <div class="login-box">
        <h2>Informe os dados de acesso</h2>
        <form class="form-horizontal" action="auth/index/login" method="post">
            <fieldset>
                <div class="input-wrap">
                    <div class="input-prepend input-group" title="E-mail">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" name="email" id="email" type="text" placeholder="E-mail"/>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="input-prepend input-group" title="Senha">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" name="pass" id="pass" type="password" placeholder="Senha"/>
                    </div>
                </div>
                <div class="button-login">	
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="clearfix"></div>
                <br>
            </form>
        </div><!--/col-->
    </div><!--/row-->
</div>