<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li class="<?= $this->menu ? null : "active";?>">
            <a href="index">
                <i class="fa fa-home"></i>
                <span class="hidden-sm"> Home</span>
            </a>
        </li>
        <?php $links = $this->getLinksMenu(); ?>
        <?php foreach ($links  as $link):?>
            <li class="<?=$this->menu == $link['active'] ? "active" : null;?>">
                <a href="<?= $link['link']?>">
                    <i class="<?= $link['class']?>"></i>
                    <span class="hidden-sm"> <?=$link['title']?></span>
                </a>
            </li>
        <?php endforeach;?>
    </ul>
</div>