<?php 
$request   = Zend_Controller_Front::getInstance()->getRequest();
$params    = $request->getParams();
$quantities = array(10, 50, 100);
$queryString = '?';
$selectedQuantity = isset($params['quantity']) ? $params['quantity'] : 10; 
unset($params['quantity']);
foreach ($params as $key => $value) {
    $queryString .= $key . '=' . $value . '&'; 
}
?>
<div>
    <div style="float: left;">
        <?php $queryString .= 'quantity=' . $selectedQuantity . '&' ?>
        <ul class="pagination">
            <?php if (isset($this->previous)): ?>
                <?php $queryStringPrevious = $queryString . 'page=' . $this->previous?>
                <li class="prev"><a href="<?php echo $this->url() . $queryStringPrevious; ?>">&lt; <?php echo 'anterior' ?></a></li>
            <?php else: ?>
                <li class="prev disabled"><a href="#" >&lt; <?php echo 'anterior' ?></a></li>
            <?php endif; ?>

            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if ($page != $this->current): ?>
                    <?php $queryStringPage = $queryString . 'page=' . $page?>
                    <li><a href="<?php echo $this->url() . $queryStringPage; ?>"><?php echo $page; ?></a></li>
                <?php else: ?>
                    <li class="active"><a href="#"><?php echo $page; ?></a></li>
                <?php endif; ?>
            <?php endforeach; ?>

            <?php if (isset($this->next)): ?>
                <?php $queryStringNext = $queryString . 'page=' . $this->next?>
                <li class="next"><a href="<?php echo $this->url() . $queryStringNext; ?>"><?php echo 'próxima' ?>  &gt;</a></li>
            <?php else: ?>
                <li class="prev disabled"><a href="#"><?php echo 'próxima' ?> &gt;</a></li>
            <?php endif; ?>
        </ul>
    </div>
    <ul class="pagination" style="float: right;">
        <?php foreach ($quantities as $key => $quantity): ?>
            <?php if ($selectedQuantity == $quantity): ?>
                <li class="active"><a href="#"><?php echo $quantity?></a></li>
            <?php else: ?>
                <?php $queryStringQuantity = $queryString . 'quantity='.$quantity; ?>
                <li><a href="<?php echo $this->url().$queryStringQuantity; ?>"><?php echo $quantity?></a></li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>