.clear{clear: both; border: none;}
.description{font-size: 12px; color: #ccc;}

/* LAYOUT */
.page-header{margin-top: 0;}
.chzn-container-single .chzn-single{height: 28px;}
.chzn-container-single .chzn-single span{margin-top: 2px;}
.chzn-container-single .chzn-single div {height: 16px; top: 3px;}
.icon-remove-circle{color: red;}

/* TABLE */
.list{overflow-x: auto; -ms-overflow-x: auto;}
.list table a.table-edit{text-decoration: none; display: block; color:#555555;}
.list table thead tr .header{background-image: url("../img/bg.gif"); background-repeat: no-repeat; background-position: center right; cursor: pointer; padding-right: 20px;}
.list table thead tr .view{background-image: none; cursor: auto; padding-right: 5px;}
.list table thead tr .headerSortUp {background-image: url("../img/asc.gif");}
.list table thead tr .headerSortDown {background-image: url("../img/desc.gif");}
.list table thead tr .headerSortDown,
.list table thead tr .headerSortUp {color: #307ecc;}
.list form{margin: 0;}
.list .table-inner tr:nth-child(odd) > td, 
.list .table-inner tr:nth-child(odd) > th{background: none;}
.list .table-inner tr > td, 
.list .table-inner tr > th{border-left: none; border-right:none;}

/* FORMS */
.zend_form{margin-top: 0;}
.zend_form .submit{clear: both; margin: 10px 0 0 13px;}
.zend_form select{background-color: #fff; outline: 0; margin: 0; padding: 0 18px 3px 5px; text-align: left; vertical-align: top; background: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==) no-repeat right center; -webkit-appearance: none; -moz-appearance: none; text-indent: 0.01px; text-overflow: '';}
.zend_form .number{background: url('../img/icon_moeda.jpg') #fff 131px no-repeat;}
.zend_form .required:before{content: "*"}
.zend_form li.search-field input.default{height: 26px !important;}
.form-actions{clear: both; margin: 25px -22px -25px -22px; border: 2px solid #eee; border-top: none; background-color: #fff}

/* FORMS FILTER */
.filter{margin: 0 0 10px 0;}
.filter form{margin: 0;}
.filter .zend_form .submit{clear: none; padding: 15px 0; float: left;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom:0;
}

.ui-tabs .ui-tabs-panel{padding: 0;}
.ui-tabs .zend_form{}

.pagination ul{float: right;}

#overlayer{display: none; z-index: 19; position: fixed; top: 0; left:0; width: 100%; height: 100%; background: #000; -moz-opacity:.70; filter:alpha(opacity=70); opacity:.70;}
.select-plus-popup{display: none; position: fixed; top: 60px; z-index: 20; left:50%; margin-left: -470px; width: 940px;}
.select-plus-close{float: right;}

.children-content{margin: 0 10px; clear: both;}
.children-content .zend_form dt{width: 130px;}

.ui-tabs .ui-widget-header{border-left:none; border-right: none; border-top: none;}
.ui-tabs-panel #filter, .ui-tabs-panel .create{border:1px solid silver; margin: 10px 10px 0 10px;}
.ui-tabs-panel #view-content{margin: 10px;}
.ui-tabs-panel .delete_all{margin-left: 10px;}
.ui-tabs-nav {border-radius:0;}
.ui-tabs .ui-tabs-nav li.ui-state-active{top: 1px; border-radius: 2px 2px 0 0;}

dl.zend_form fieldset{width: 910px; border: 1px solid #ccc; margin: 0 0 0 10px; padding: 0 0 10px 0;}

ul.errors{margin:0; padding:0; list-style: none; clear: both;position: absolute;}
ul.errors li{background: #FFE9E9; padding: 1px 5px; font-size: 10px; z-index:100; position: relative;}

#autenticacao fieldset{margin-bottom: 10px;}
#autenticacao ul{margin:0; padding: 0; list-style: none;}
#autenticacao ul li{float: left; width: 200px; height: 120px; overflow: auto;}
#autenticacao ul li ul{}
#autenticacao ul li ul li{float: none; width: auto; height: auto; margin-left: 20px;}


.bg-primary {
    color: #fff;
    background-color: #428bca;
}