<div class="panel panel-primary">
    <div class="panel-body bg-primary">
        <h4><p class="text-center">CI -  Centro de Informática</p></h4>
        <h4><p class="text-center">DI - Departamento de Informática</p></h4>
        <h4><p class="text-center">Campus Universitário</p></h4>
        <h4><p class="text-center">João Pessoa - PB</p></h4>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h3><p class="text-center">APRESENTAÇÃO</p></h3>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">DL-TUTOR Acadêmico o que é isso?</h3>
    </div>
    <div class="panel-body">
        <p>É uma ferramenta de apoio a gestão das atividades de tutoria em ambiente de ensino aprendizagem a distância, 
            com funcionalidades que possam ser disponibilizadas diretamente ou integradas em ambiente virtual de Aprendizagem(AVA).</p>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Como o DL-TUTOR Acadêmico pode contribuir para apoiar os coordenadores de tutoria e professores?</h3>
    </div>
    <div class="panel-body">
        <p>Disponibilizando relatórios operacionais e gerenciais de forma gráfica e de simples compreensão, 
            mostrando o acompanhamento das ações e atividades dos tutores dos curso/disciplina em tempo real.</p>
    </div>
</div>


 

 