<div id="view-content">
    <h1>Acesso restrito.</h1>
    <div style="padding: 0 10px 15px 10px;">
        <p>O perfil autenticado não tem acesso ao resource solicitado.</p>
        <a class="back" style="padding: 5px 5px 5px 20px;">Voltar</a>
    </div>
</div>
<script>
    $('.back').click(function(){
        history.back();
        return false;
    });
</script>