<?php echo $this->form; ?>

<div class="clear"></div>

<div class="form-actions">
    <?=$this->button()->back('scaffold/index/table/' . $this->table)?>
    <?=$this->button()->add('scaffold/form/table/' . $this->table)?>
</div>

<script type="text/javascript" charset="utf-8">
    $('select[name$="_id"]').selectPlus();
</script>