<div class="page-header position-relative">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><?=$this->title?></h3>
</div>

<?php $this->form->setAttrib('id', 'form-ajax'); ?>
<?=$this->form?>

<div class="clear"></div>

<script type="text/javascript">
    $(document).ready(function(){
        selectPlusSetAction('form-ajax', '<?=$this->selectId?>');
    });
</script>