<div class="filter">
    <?=$this->form?>
    <div class="clear"></div>
</div>

<div class="hr"></div>

<?=$this->tablesorter()->setHeaders($this->headers)
                       ->setOrder($this->order)
                       ->setData($this->data)?>

<div class="form-actions">
    <?=$this->button()->delete('scaffold/index#delete')?>
    <?=$this->button()->add('scaffold/form/table/' . $this->table)?>
</div>