<div class="filter">
    <?=$this->form?>
    <div class="clear"></div>
</div>

<div class="hr"></div>

<?=$this->tablesorter()->setHeaders($this->headers)
                       ->setLineLink(false)
                       ->setShowCheckbox(false)
                       ->setOrder($this->order)
                       ->setData($this->data)?>
