<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?= $this->title ?></h3>
    </div>
    <div class="panel-body">
        <?php echo $this->form; ?>
    </div>
    <div class="panel-footer">
        <?= $this->button()->back('auth/user/index/table/auth_user') ?>
        <?= $this->button()->add('auth/user/form/table/auth_user') ?>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $('select[name$="_id"]').selectPlus();
</script>