<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pesquisa</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="text-center"><?php echo $this->form; ?></p>
        </div>
    </div>
    <div class="panel-body">
        <div id="view-content">
            <h1><?php echo $this->title; ?></h1>
            <?php
            echo $this->simpleTable()->setHeaders($this->headers)
                    ->setData($this->data)
            ;
            ?>
        </div>
    </div>
    <div class="panel-footer">
        <?= $this->button()->delete('autenticacao/usuario#delete') ?>
        <?= $this->button()->add('utenticacao/usuario/form') ?>
    </div>
</div>
