<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="<?= $this->serverUrl() . $this->baseUrl() ?>/"><!--[if lte IE 6]></base><![endif]-->
        <link rel="stylesheet" href="css/print.css" type="text/css" media="print">
        <?php
        echo $this->headTitle("DL TUTOR", "prepend");
        echo $this->jQuery();
        echo $this->headLink();
        echo $this->headStyle();
        echo $this->headScript();
        ?>
        <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">--> 
    </head>
    <body>
        <div class="panel panel-primary" style="margin-bottom: 0;">
            <div class="panel-body bg-primary">
                <p class="text-left" style="float: left">
                    <img src="img/i.png" class="img-thumbnail left" height="110px" width="94px">
                    <img src="img/ufpb.jpg" class="img-thumbnail" height="110px" width="94px">
                </p>
                <p class="text-right" style="float: right">
                    <img src="img/ppgi.gif" class="img-thumbnail" height="110px" width="94px">
                    <img src="img/lasic.jpg" class="img-thumbnail" height="110px" width="106px">
                </p>
                <h1>
                    <p class="text-center"><strong>DL-TUTOR ACADÊMICO</strong></p>
                </h1>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div id="menu">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">DL-TUTOR</a>
                </div>
                <div class="navbar-collapse collapse">
                    <?php echo $this->navigation(); ?>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href="#">
                                <i class="halflings user white"></i> <?php echo $this->identity->name; ?>  (<?php echo $this->identity->role; ?>)
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container" style="margin-top: 2%;">
            <?= $this->messages(); ?>
            <?= $this->layout()->content ?>
        </div>
        <div>&nbsp;</div>
    </body>
</html>
<script type="text/javascript">
    $(document).ready(function() {
        $("div#menu").find(".navigation").attr("class", "nav navbar-nav");
        $("div#menu").find("li").attr("class", "dropdown");
        $("div#menu").find(".dropdown > ul").attr("class", "dropdown-menu");
        $("div#menu").find("li.dropdown > a").attr("class", "btn dropdown-toggle").attr("data-toggle", "dropdown").append('<span class="caret"></span>');
        $("div#menu").find("li.dropdown").not(":has(ul)").find("a").attr("data-toggle", "").find("span").remove();
    });
</script>   