<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
        <title>DL - TUTOR</title>
        <base href="<?= $this->serverUrl() . $this->baseUrl() ?>/"><!--[if lte IE 6]></base><![endif]-->

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <link href="assets/css/ie.css" rel="stylesheet">
        <![endif]-->

        <!--[if IE 9]>
        <link id="ie9style" href="assets/css/ie9.css" rel="stylesheet">
        <![endif]-->

        <?= $this->jQuery() ?>
        <?= $this->headLink()->prependStylesheet($this->baseUrl('assets/css/style.min.css')) ?>
        <?= $this->headScript() ?>

        <style type="text/css">body{ background: url("assets/img/bg-login.jpg") !important; }</style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <?= $this->messages() ?>
                <?= $this->layout()->content ?>
            </div>
        </div>
    </body>
</html>
