<?php
    $translate = array('index' => 'Inicial',
                       'form' => 'Formulário de cadastro',
                       'save' => 'Salvar',
                       'delete' => 'Excluir',
                       'login' => 'Logar',
                       'logout' => 'Sair',
                       'forget' => 'Esqueci a senha',
                       'auto-complete' => 'Adicionar item');
?>
<div id="view-content">
    <form action="auth/resource-role/save" method="post">
        <input type="hidden" value="<?php echo $this->id?>" name="auth_role_id">
        <div id="autenticacao">
            <fieldset class="auth-parent auth-module">
            <?php $curretModule = null; ?>
            <?php $curretController = null; ?>
            <?php $firstModule = false; ?>
            <?php foreach ($this->resources as $resource):?>
                <?php 
                    $splitData  = explode(':', $resource->privilege);
                    $controller = $splitData[0];
                    $action     = $splitData[1];
                ?> 

                <?php if ($curretModule != $resource->module): ?>
                    <?php $curretController = null; ?>
                    <?php if ($curretModule !== null):?>
                        </fieldset><fieldset>
                    <?php endif;?>
                    <?php $curretModule = $resource->module; ?>
                    <?php $firstModule = true; ?>
                    <legend>
                        <input type="checkbox" class="auth-master">
                        <?php echo ucfirst($curretModule); ?>
                    </legend>        
                    <ul class="auth-parent auth-controller"><li>
                <?php endif;?>

                <?php if ($curretController != $controller): ?>
                    <?php if ($curretController !== null && !$firstModule):?>
                        </ul></li><li>
                    <?php endif;?>

                    <input type="checkbox">
                    <?php $curretController = $controller; ?>
                    <?php echo ucfirst($curretController); ?>
                    <ul class="auth-parent auth-action">
                <?php endif;?>

                <li>
                    <?php 
                        $checked = null;
                        foreach ($this->permissions as $permission) {
                            if ($resource->id == $permission->auth_resource_id) {
                                $checked = 'checked';
                            }
                        }
                    ?>
                    <input name="auth_resource_id[]" <?php echo $checked?> type="checkbox" value="<?php echo $resource->id?>">
                    <?php echo isset($translate[$action]) ? $translate[$action] : $action ?>
                </li>    

                <?php $firstModule = false; ?>    
            <?php endforeach;?>
                    </ul></li></ul>
            </fieldset>
            <br>
            <div style="text-align: center;">
                <input type="submit" value="Salvar" class="btn btn-small btn-primary">
            </div>
            <br>
        </div>
    </form>
    <div class="clear">&nbsp;</div>
</div>