<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><?= $this->title ?></h3>
    </div>
    <div class="panel-body">
        <?=
                $this->tablesorter()->setHeaders($this->headers)
                ->setOrder($this->order)
                ->setData($this->data)->setShowCheckbox(false);
        ?>
    </div>
    <div class="panel-footer">
        <?php echo $this->paginationControl($this->data); ?>
    </div>
</div>